* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--link: #337DFF;
	--link-hover: #1E58C0;
	--sidebar-background: #202020;
	--text-white: rgb(226, 212, 212);
	--app-background: #ebebeb;
}

.App {
	background: var(--app-background);
	font-family: sans-serif;
	height: 100vh;
}

a {
	color: var(--text-white);
	text-decoration: none;
	transition: color	.2s;
}

button {
	cursor: pointer;
}
